@charset "UTF-8";


body {
	background : linear-gradient(27deg, rgba(34,193,195,1) 0%, rgba(45,253,188,0.9724090319721639) 100%) no-repeat fixed;
}

.container {
	color : #ffffff;
}

.container hr {
	border: 1px solid #ffffff;
}

.container input[type=text] {
	border: solid white;
	border-radius: 10px;
}

.container input[type=text]:hover {
	border-color: #ff0066;
}

.container input[type=submit] {
	border-color: #ff0066;
	background-color: #ff0066;
	border-radius: 7px;
	border-style: solid;
	color: white;
	
}

.container select {
	border-color: #d9d9d9;
	background-color: #d9d9d9;
	border-style: solid;
	border-radius: 7px;
}

.input-field div {
	padding: 4px;
}




